.case-gallery{
	display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    width: 100%;
}

@media screen and (min-width:600px) {
	.case-gallery{
		.thumbnail{
			padding: 2px;
		}
	    a{
	    	flex: 1;
	    }
	}

}