header{
	background: rgba(0,0,0,0.8);
	position: fixed;
	top:0px;
	left:0px;
	height: 40px;
	width:100%;
	z-index: 100;
	a{
		margin-top: 10px;
		color:#fff;
		display: block;
		&:hover{
			color: pink;
			text-underline:none;
		}
	}
}
